* {
    margin-top: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.heading-text1 {
    color: antiquewhite;
    margin-top: 20px;
    padding-top: 5%;
    text-align: center;
    font-size: 60px;

}

.para-text-1 {
    color: whitesmoke;
    text-align: center;
    margin: 50px 80px;
}

.green-color {
    color: green;
}

.tomato-color {
    color: tomato;
}

.part1 {
    text-align: center;

}

.container {
    width: 100%;
    height: 100%;
    background-image: url(images/donation13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, red);
    font-weight: bold;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    margin-bottom: 40px;
}

.button-position {
    text-align: center;
    margin-top: 80px;
}

.part2 {
    text-align: center;
    padding: 50px;
}

.plan-para {
    text-align: center;
}

.container-2 {
    text-align: center;

}

.amount-container {
    padding: 20px 20px;
    width: 80px;
    height: 40px;
    text-align: center;
    border: 2px solid tomato;
    color: tomato;
}

.amount {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 30px 50px;
}

.button-2-position {
    text-align: center;
    margin-top: 80px;
}

.link-button-2 {
    text-decoration: none;
    background-image: linear-gradient(tomato, red);
    font-weight: bold;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    margin-bottom: 40px;
}

.sec-3 {
    display: flex;
    margin-top: 60px;
    padding: 20px;
    justify-content: space-evenly;
}

.title2 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-left: 40px;
}

.sec-para {
    text-align: center;
}

.card1 {
    width: 350px;
    height: 250px;
    text-align: left;
    box-shadow: 8px 8px 16px gray;

}

.food-title {
    margin-top: 30px;
}

.shel-title {
    margin-top: 30px;
}

.edu-title {
    margin-top: 30px;
}

.card2 {
    width: 350px;
    height: 250px;
    text-align: left;
    box-shadow: 8px 8px 16px gray;
}

.card3 {
    width: 350px;
    height: 250px;
    text-align: left;
    box-shadow: 8px 8px 16px gray;
    background-color: antiquewhite;
}

.sec-4 {
    display: flex;
    margin-top: 60px;
    padding: 20px;
}

.about {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
}

.half-width {
    margin: 0;
    width: 50%;
}

.half-width h1 {
    text-align: left;
    font-size: 30px;
    padding: 10px 10px;
    font-weight: bold;
}

.half-width p {
    text-align: left;
    font-size: 18px;
    padding: 10px 10px;
    font-weight: lighter;
}

.half-width img {
    width: 90%;
    padding-left: 5%;
}

.con-button {
    color: whitesmoke;
    text-decoration: none;
    background-color: tomato;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: bold;

}

.sec-4 {
    text-align: center;

}

.update-text {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
}

.update-para-1 {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.update-container {
    width: 600px;
    height: 200px;
    background-color: bisque;
    background-position: center;
    pad: 20px 50px;
}

.update-button {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: red;
    padding: 10px 20px;
    border-color: red;
    border-radius: 5px;
}

.footer-text {
    background-color: black;
    text-align: center;
}

.foot-text-1 {
    color: crimson;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
}

.foot-para {
    color: chocolate;
    font-weight: lighter;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;

}